@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


/*slider*/

.context {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    background: #23E3C9;
}

.slider {
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    overflow: hidden; 
}
.slides {
    width: 500%; 
    height: 100vh; 
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 1s
}

.slide img {
    width: 100%;
    height: 100vh; 
}

.navigate-manual {
    position: absolute;
    width: 100%;
    margin-top: -5vh;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover{
    background: #40D3DC;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}



.navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;

    justify-content: center;
    margin-top: 95vh;
}

.navigation-auto div {
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;

}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
}