@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.poster-title {
    /*background*/
    /* min-height: 80vh;
    height: 00px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.2),rgba(4,9,30,1)),url(images/frank-mckenna-OD9EOzfSOh0-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

    text-align: center;
    color: white; */
}