.contact-form {
    width: 50%;
    height: 100vh;
    background: white;
    display: flex;
    flex-basis: 60%;
    align-items: center;
    justify-content: center;
}

form {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
}

form h3 {
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea {
    border: 0;
    margin: 10px;
    padding: 20px;
    outline: none;
    background-color: #f5f5f5;
    font-size: 16px;
}

form button {
    padding: 15px;
    background: #063970;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

.info {
    display: flex;
    flex-basis: 40%;

}