@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* { 
    font-family: 'Poppins', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*Header*/
.banner {
    text-align: left;
    padding-inline: 12%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
}

.logo{
    float: left;
    padding-right: 45px;
    background-color: white;
}

/*Navigation Bar*/
.navigation-bar {
    width: 100%;
    background-color: white;
    padding: 10px;
    text-align: center;
    transition: all 0.3s;
}

.navigation-bar li {
    display: inline-block;
    margin-inline: 30px;
    font-size: 25px;
    list-style-type: none;
}

.navigation-bar li:hover {
    color: lightblue;
}

.navigation-bar a:hover {
    color: lightblue;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 0px 0px 4px 4px;

}

.navigation-bar ul li:hover ul {
    display: block;
    position: absolute;
    background-color: white;
    border-radius: 0px 0px 4px 4px;
    z-index: 100;

}


.dropdown-menu li {
    display: block;
    font-size: 17px;
    text-align: left;
    padding: 5px;
}

/*Footer*/

.foot {
    padding: 25px;
    margin: 50px;
}

.foot p {
    max-width: 650px;
    float: left;
}

.tico-img {
    float: right;
}

/*Link styling*/
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

  