@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200&family=Mingzat&display=swap');
* { 
    font-family: 'albert sans';
    color: black;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*Header*/
header {
    min-height: 100vh;
    height: 00px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.2),rgba(4,9,30,1)),url(images/frank-mckenna-OD9EOzfSOh0-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.banner {
    text-align: left;
    padding-inline: 12%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
}

.logo{
    float: left;
    padding-right: 45px;
    background-color: white;
}

/*Navigation Bar*/
.navigation-bar {
    width: 100%;
    background-color: white;
    padding: 10px;
    text-align: center;
    transition: all 0.3s;
}

.navigation-bar li {
    display: inline-block;
    margin-inline: 40px;
    font-size: 30px;
    list-style-type: none;
}

.navigation-bar li:hover {
    color: lightblue;
}

.navigation-bar a:hover {
    color: lightblue;
}

.dropdown-menu {
    position: absolute;
    background-color: white;
    border-radius: 0px 0px 4px 4px;
}
.dropdown-menu li {
    display: block;
    float: left;
    font-size: 20px;
}



/*Footer*/

.foot {
    padding: 25px;
    margin: 50px;
}

.foot p {
    max-width: 650px;
    float: left;
}

.tico-img {
    float: right;
}

span.lan { 
    color:#0c5ba0;

}

/*Link styling*/
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

  