@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


/*slider*/

.context {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.slider {
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    overflow: hidden; 
}
.slides {
    width: 500%; 
    height: 100vh; 
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 1s
}

.slide img {
    width: 100%;
    height: 100vh; 
    object-fit: cover;
    object-position: center center;

}

.navigate-manual {
    position: absolute;
    width: 100%;
    margin-top: -5vh;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover{
    background: #40D3DC;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}



.navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 95vh;
}

.navigation-auto div {
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;

}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
}

/*Main Packages*/
.main-packages-section {
    margin: 5px;
    padding: 70px;
    text-align: center;
}

.main-packages {
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

.grid {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.main-packages img {
    width: 100%;
    border-radius: 1% 1% 0% 0%;
    object-fit: cover;
}

.title {
    padding-bottom: 15px;
}

.main-packages li p {
    margin: 10px;
}

.main-packages li {
    text-align: center;
    margin: 20px;
    border-style: solid;
    border-radius: 1%;
    border-width: 1px;
    border-color: #063970;
    width: 400px;
    height: 600px;
}

/*buttons*/
button {
    border: 0px;
    background-color: #063970;
    font-weight: 800;
    font-size: 15px;
    padding: 5px 15px 5px 15px;
    margin: 10px;
    transition: 0.1s;
}

button a {
    color: white;
}

button:hover {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #063970;
}

button a:hover {
    color: #063970;
}

/*flights*/
.parallax-window {
    background: transparent;
    z-index: 1;
    margin: 5px;
}

.flights-section{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    text-align: center;
    margin-inline: auto;
    padding: 30px;

}

.flights {
    color: white;
    padding: 20px;
}

/*other bookings section*/
.other-bookings-section {
    max-width: 1200px;
    margin: 5px auto;
    padding: 70px;
    color: black;
}

.other-bookings li p {
    margin: 10px;
}

.cruises {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #063970;
    width: 250px;
    text-align: center;
    margin: 10px;
}

.car-rentals {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #063970;
    width: 400px;
    text-align: center;
    margin: 10px;
}

.car-rentals ul li {
    display: inline-block;
}

.tours-and-activities {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #063970;
    width: 250px;
    text-align: center;
    margin: 10px;
}

/*blog*/
.blog-container {
    width: 1100px;
    margin: auto;
    text-align: center;
}

h2 {
    margin: 40px;
}

.blog {
    width: 900px;
    height: 500px;
    padding: 100px;
    background-image: linear-gradient(rgba(66, 36, 11, 0.5),rgba(0,0,0,0.5)), url("images/pexels-jaime-reimer-2662116.jpg");
    background-size: cover;
    background-position: center center;
    margin: auto;
    text-align: left;
    transition: 1s;
}

.blog:hover {
    background-image: linear-gradient(rgba(66, 36, 11, 0.7),rgba(0,0,0,0.7)), url("images/pexels-jaime-reimer-2662116.jpg");
}

.blog ul li {
    display: inline-block;
}

h1 {
    font-size: 65px;
}

.white {
    color: white;
}

.pfp {
    border-radius: 50%;
}